button:hover, .submit-button:hover {
    cursor: pointer;
}

button, .submit-button {
    padding: 0.5em;
    /* margin: 0 0 5em 5em; */
    /* width: 10rem; */
    font-weight: bold;
    font-size: 1em;
    background-color: var(--lumos);
    box-shadow: 0px 4px 4px var(--jet);
    color: var(--jet);
    text-transform: uppercase;
    border: 3px solid var(--jet);
}

button {
    /* margin: 1em; */
}

.submit-button {
    margin-left: 3em;
}


input {
    padding: 0.5em 0.5em;
    font-size: 0.8em;
    margin: 0.5em;
    border-radius: 16px;
    border-style: none;
    width: 15rem;
}

.input-title {
    padding: 0.2em;
    display:flex;
    justify-content: flex-start;
}

.input-field {
    padding-bottom: 1em;
}

input::placeholder {
    color: var(--jet);
    text-transform: lowercase;
    font-size: 1em;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

