.action-text {
  text-align: center;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-to-move {
  text-align: center;
}

.button-container {
  text-align: center;
}
