section {
    color: white;
    font-family: lumos;
    font-size: 2rem;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.589);
    margin: 2em;
   
}

form {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

label {
    padding: 0.5em;
}

