
@font-face {
  font-family: 'lumos';
  src: url(./fonts/LUMOS.TTF) format('truetype');
}

@font-face {
  font-family: 'Parry Hotter';
  src: url(./fonts/ParryHotter.ttf) format('truetype');
}

:root {
  /* colours */
  --jet: rgb(4, 4, 44);
  --lumos:rgb(255, 205, 53);

  /* fonts */
  --lumos-cinzel: 'Lumos', 'Cinzel', serif;
}

* {
  font-family: 'cinzel';
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lumos", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Hogwarts-Castle-HD-Wallpaper.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding: 1rem;
}

p {
  font-family: var(--lumos-cinzel)
}
